body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.downloads {
    margin-top: 50px;
}

.downloads h2 {
    text-align: center;
    margin-bottom: 20px;
}

.downloads ul {
    list-style: none;
    padding: 0;
}

.downloads li {
    margin-bottom: 15px;
    text-align: center;
}

.downloads a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.downloads span {
    font-style: italic;
    color: #777;
}
